html {
    border-left: 5px solid lightgray;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

header, main, footer {
    padding: 1rem 2rem;
}

h1 {
    color: tomato;
}

img {
    width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.footer-nav a {
    color: tomato;
}

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

article h2 {
    font-size: 1.5em;
}

article a {
    color: tomato;
    font-weight: bold;
    text-align: right;
    display: block;
}

p::first-letter {
    color: lightgray;
    font-size: 2em;
}

footer p {
    color: lightgray;
    text-align: center;
    margin-top: 1rem; 
}